@font-face{
  font-family: roboto;
  src: url(Fonts/Roboto-Regular.ttf);
}
@font-face{
  font-family: playfair;
  src: url(Fonts/PlayfairDisplay-Regular.ttf);
}
body{
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  background: url(Images/cool-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}



.sunIcon{
  width: 50px;
  height: auto;
  right: -5px;
  position: relative;
  animation-name: spin;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin{
  100%{transform: rotate(360deg);}
}
#H51{
  position: absolute;
  left: 60px;
  top: -12px;
}
#H52{
  position: absolute;
  left: 60px;
  top: 6px;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s linear, border-bottom 0.3s linear;
  z-index:  1000;
}
.navbar.scrolled{
  background-color: hsl(0, 0%, 100%);
  border-bottom: 1.5px solid hsl(0, 0%, 0%);
}
.navbar img, .navbar h5, .navbar ul, .navbar #login {
  z-index: 1001; 
}  
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a{
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  text-align: center;
  transition: color 0.3s linear;
}
.navbar a:hover{
  color: hsl(0, 100%, 50%);
}
#login{
  font-size: 15px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 0px;
  top: 10px;
  right: 10px;
  padding: 5px 50px;
  transition: background-color 0.3s linear, font-weight 0.3s linear;
}
#login:hover{
  background-color: hsl(0, 100%, 50%);
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 60px;
}
.text{
  max-width: 50%;
  margin-left: 30px;
  margin-top: 0px;
}
.peopleSmilingSafariRally{
  width: 500px; 
  height: 500px; 
  border-radius: 50%;
  object-fit: cover; 
}
h2{
  font-family: playfair;
  font-size: 60px;
  margin-top: 0px;
  padding-top: 0;
}
.text p{
  font-family: playfair;
  font-size: 22px;
}
#getStarted{
  font-size: 17px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 25px;
  border: 0px;
  transition: background-color 0.3s linear;
}
#getStarted:hover{
  background-color: hsl(0, 100%, 50%);
}



.main-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(to right, whitesmoke, beige);
  margin: 100px;
}
.quote{
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: playfair;
}
.testimonial{
  font-size: 22px;
  max-width: 800px;
  margin-bottom: 60px;
}
.elon{
  position: relative;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover; 
  left: -50px;
}
#name, #position, #company{
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  left: 45px;
  top: -80px;
}
#position{
  left: 23px;
}
#company{
  left: 27px;
}



.main-content3{
  height: 100vh;
}
.content3{
  display: flex;
  justify-content: center;
}
.factor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  padding-bottom: 10px;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
  background: hsl(160, 90%, 79%);
  transition: border-color 0.3s linear;
}
.factor:hover{
  border-color: hsl(0, 100%, 50%);
  animation: move 0.5s linear;
}
@keyframes move{
  50%{transform:translateY(20px)}
}
.factor img{
  width: 130px;
  height: auto;
}
.factor .description{
  padding-top: 20px;
  font-size: 23px;
  text-align: center;
  color: hsl(120, 100%, 25%);
}
.factor .deeperdescription{
  word-spacing: 5px;
  padding-top: 20px;
  font-size: 17px;
  text-align: center;
}
.main-content3 h2{
  font-size: 40px;
  color: hsl(0, 0%, 0%);
  text-align: center;
}



.transition-container{
  height: 150px;
  background: linear-gradient(to bottom, transparent, black);
}



.main-content4{
  height: auto;
  background:
    radial-gradient(circle at top right, transparent 70%, red),
    black;
}
.main-content4 h2{
  font-size: 70px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.content4{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.content4 img{
  width: 600px;
  height: auto;
  padding-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.content4 img:hover{
  transform: scale(1.05);
}
