/*Header Styling */
.navbar{
  display: flex;
  align-items:center;
  background-color: transparent;
  transition: background-color 0.3s linear, border-bottom 0.3s linear;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.navbar img{
  width: 100px;
  height: auto;
  margin-right:0;
  display:flex;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a{
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  text-align: center;
  transition: color 0.3s linear;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar a:hover{
  color: hsl(0, 100%, 50%);
}

/*About  styling */
/*.about-summary {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;  
  padding:20px; 
  margin:0;
}
.who-we-are,
.our-story,
.what-we-do,
.why-choose-us,
.create-something{
  flex: 1 1 300px; 
  margin: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  color: black;
}
.what-we-do:hover,
.who-we-are:hover,
.our-story:hover {
color:red;
}
.what-we-do:hover h2,
.our-story:hover h2,
.who-we-are:hover h2,
.who-we-are:hover p,
.our-story:hover p,
.what-we-do:hover p{
color:black;
}
.why-choose-us h2,
.create-something h2{
color:black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
.why-choose-us p,
.create-something p{
color:black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.why-choose-us:hover h2,
.create-something:hover h2{
color:black;
}
.why-choose-us:hover p,
.create-something:hover p{
color:black;
}
.why-choose-us:hover,
.create-something:hover{
color:red;
}
p{
  font-size:medium;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-images{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:2px;
  justify-items: center;           
}
.img {
  width:210px;
  height:210px;
  border-radius:10px;
  transition:transform 0.3s ease;
}
.profile-images .contributors {
  margin:5px;
  text-align:center;
}
.contributors {
  border:2px solid black;
  border-radius:20px;
  padding:0;
}
.profile-images .contributors:hover{
  color:red;
  transform:scale(1.05);
  transition:0.3s ease-in;
} */
/*End of the about page styling*/

/*about page styling */
.our-summary {
  display:flex;
  justify-content: space-between;
  margin-bottom:40px;
  width:100%;
  padding:5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-summary {
  width:100%;
  margin-left:0;
  margin-top:30px;
  
}
.who-we-are  {
  border:2px solid black;
  padding:3px;
  margin-right:3%;
  border-radius:10px;
}
.our-story {
  border:2px solid black;
  padding:3px;
  margin-right:3%;
  border-radius:10px;
}
.what-we-do {
  border:2px solid black;
  padding:3px;
  margin-right:3%;
  border-radius:10px;
}
.why-choose-us {
  border:2px solid black;
  padding:3px;
  margin-right:3%;
  border-radius:10px;
}
.create-something {
  border:2px solid black;
  padding:3px;
  margin-right:3%;
  border-radius:10px;
}
.btnmore {
  border:2px solid black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  border-radius:10px;
  background-color: black;
  color:white;
  cursor: pointer;
  width:100%;
  margin-bottom:0;
  padding:2px;
}
.btnmore:hover {
  background-color: red;
  transition: .5s;
  border-color: red;
}
.OurTeam h2{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:100%;
  background-color: black;
  color:white;
  padding:10px;
}

.contributors img{
  border: 1px solid black;
  border-radius:20px;
  border-radius:20px;
  width:200px;
  height:200px;
  transition:transform 0.3s ease;
  margin-left:40px;
}
.profile-images {
  display:flex;
  width:100%;
  margin-top:50px;
}
.contributors p {
  text-align: center;
  justify-content: center;
}
.contributors {
  border: 2px solid black;
  margin-bottom:20px;
  border-radius: 10px;
  margin-right:10px;
}

  

/* Styling of the body of home page*/
.homebody{
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  /*background: url(Images/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}
.main-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(to right, whitesmoke, beige);
  margin: 100px;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 60px;
}
.text{
  max-width: 50%;
  margin-left: 30px;
  margin-top: 0px;
}
.peopleSmilingSafariRally{
  width: 500px; 
  height: 500px; 
  border-radius: 50%;
  object-fit: cover; 
}
#getStarted{
  font-size: 17px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 25px;
  border: 0px;
  transition: background-color 0.3s linear;
}
#getStarted:hover{
  background-color: hsl(0, 100%, 50%);
}
.quote{
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: playfair;
}
.testimonial{
  font-size: 22px;
  max-width: 800px;
  margin-bottom: 60px;
}
.elon{
  position: relative;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover; 
  left: -50px;
}
#name, #position, #company{
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  left: 45px;
  top: -80px;
}
#position{
  left: 23px;
}
#company{
  left: 27px;
}
.main-content3{
  height: 100vh;
}
.content3{
  display: flex;
  justify-content: center;
}
.factor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  padding-bottom: 10px;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
  background: hsl(225, 92%, 63%);
  transition: border-color 0.3s linear;
}
.factor:hover{
  border-color: white;
  animation: move 0.5s linear;
}
@keyframes move{
  50%{transform:translateY(20px)}
}
.factor img{
  width: 130px;
  height: auto;
}
.factor .description{
  padding-top: 20px;
  font-size: 23px;
  text-align: center;
  color: white;
}
.factor .deeperdescription{
  word-spacing: 5px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 17px;
  text-align: center;
  color: white;
}
.main-content3 h2{
  font-size: 40px;
  color: hsl(0, 0%, 0%);
  text-align: center;
}

.main-content4{
  height: auto;
  background-color: black;
}
.main-content4 h2{
  font-size: 70px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.content4{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.content4 img{
  width: 600px;
  height: auto;
  padding-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.content4 img:hover{
  transform: scale(1.05);
}

/* End of styling of the home page*/


/* Start of Login */
h2{
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  padding: 10px 0 10px 0;
}
.container{
  transition: .5s ease-in-out;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container form{
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.inputBox {
  position: relative;
  top: -15px;
  left: 0px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}
.inputBox button{
  width: 365px;    
  height: 50px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: .3s ease-in-out;
  margin-top: 20px;
}
.alert{
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}
.two-forms{
  display: flex;
  gap: 10px;
}
.input-field{
  height: 40px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border-radius: 5px;
  border: 5px;
  border: outset;
  padding: 5px 40px 5px 20px;
  transition: background-color 0.3s linear, font-weight 0.3s linear;
}
.input-field:hover, .input-field:focus{
  background: rgb(255, 255, 255);
  box-shadow: 1px 5px 7px 1px hsl(240, 2%, 19%);
}
::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}
.one{
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one input{
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.two-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(6, 6, 6);
  font-size: small;
  margin-top: 10px;
  align-items: center;
}
.two-col .one, .two-col .two {
  margin-bottom: 10px;
  color: black;
}
.two label{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.two label a{
  color:rgb(180, 81, 180);
}
.two label a:hover{
  text-decoration: none;
}
span{
  color: rgb(0, 0, 0);
  font-size: small;
  padding: 5px 0 -100px 0;
  display: flex;
  justify-content: center;
}
span a{
  font-weight: 500;
  color:  rgb(220, 20, 20);
  margin-left: 5px;
}
/* End of Login */

/*Review page styling */
.container h1, .reviews h2 {
  text-align: center;
  margin: 0 0 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
  padding:15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:100%;
  border: 1.5px solid black;
  background-color: black;
  color:white;
}
ul {
  list-style-type: none;
  padding:0;
}
.container {
  padding: 2rem;
  width: 100%;
  margin: auto;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  border-radius: 10px;
  margin-top:0;
}

.review {
  background-color: black;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  color:white;
  border-radius:10px;
}

.review h3 {
  margin-top: 0;
}

.review p {
  margin: 0.5rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  border:3px solid black;
  padding:15px;
  border-radius:10px;
  width:100%;
}

input[type="text"], select, textarea {
  padding: 10px;
  margin-bottom: 30px;
  border: 2px solid black;
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.label {
  margin: 10px 0 5px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


input[type="submit"] {
  transition: .2s;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  border-radius: 15px;
}
input#name {
  margin-top:80px;
  width:95%;
  margin-left: -50px;
  padding:10px;
  margin-bottom:-50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:20px;
}

input[type="text"]:focus, select:focus, textarea:focus {
  border-color: red;
  border: 2px solid red;
  outline: none;
 
}

input[type="submit"]:hover {
  background-color: red;
}

@media (max-width: 600px) {
  .container {
    padding: 1rem;
  }

  input[type="text"], select, textarea {
    padding: 8px;
  }

  input[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
}
/*end of reviews styling*/

/* Start of SignUp */
h2{
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
  padding: 40px 0 20px;
  margin-bottom: 20px;
}
.container{
  transition: .5s ease-in-out;
  height: 100%;
  padding: 50px 0;
}
.container form{
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.inputBox {
  position: relative;
  color: rgb(0, 0, 0);
  flex: 1;
  margin-bottom: 20px; 
}
.inputBox button{
  width: 365px;    
  height: 50px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
  color: #ffffff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: .3s ease-in-out;
  margin-top: 20px;
}
.input-field{
  height: 40px;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border-radius: 5px;
  border: 5px;
  border: outset;
  padding: 5px 40px 5px 20px;
  transition: background-color 0.3s linear, font-weight 0.3s linear;
}
.input-field:hover, .input-field:focus{
  background: rgb(255, 255, 255);
  box-shadow: 1px 5px 7px 1px hsl(240, 2%, 19%);
}
::-webkit-input-placeholder{
  color: rgb(0, 0, 0);
}
.one{
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one input{
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.two{
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 0;
}
.two input{
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.two-col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(6, 6, 6);
  font-size: small;
  margin-top: 20px;
  align-items: center;
  margin-bottom: 20px;
}
.two-col .one, .two-col .two {
  margin-bottom: 10px; 
}
.two label{
  text-decoration: none;
  color:rgb(0, 0, 0);
}
.two label a{
  color:rgb(180, 81, 180);
}
.two label a:hover{
  text-decoration: none;
}
span{
  color: rgb(0, 0, 0);
  font-size: small;
  display: flex;
  justify-content: center;
}
span a{
  font-weight: 500;
  color: rgb(220, 20, 20);
  margin-left: 5px;
}
/* End of SignUp */

/* Start of FAQs */
.title {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}
.faq-section {
  padding: 4em 2em;
}
.faq {
  list-style: none;
  max-width: 700px;
  margin: 0 auto;
}
.faq li {
  background: #caf0f8;
  border-bottom: 1px rgb(33, 160, 239);
}
.faq li:first-child {
  border-top: 1px rgb(33, 160, 239);
}
.q {
  padding: 1em 0;
  border-left: 10px blue solid;
  cursor: pointer;
}
.q:hover, 
.q:hover .arrow {
  border-left-color: rgb(33, 160, 239);
}
.arrow {
  display: inline-block;
  margin: 0 0.5em;
  width: 0;
  height: 0;
  border-top: 6px solid teal;
  border-left: 10px solid yellowgreen;
  border-bottom: 6px solid turquoise;
  transition: 0.3s;
}
.faq p {
  color: blue;
  line-height: 25px;
}
.a {
  overflow: hidden;
  height: 0;
  padding: 0 1em 0 3.3em;
}
.a-opened {
  padding: 1em 1em 2em 3.3em;
  height: initial;
}
.arrow-rotated {
  transform: rotate(90deg);
}
/* End of FAQs */

/*Footer styling */
.footer2{
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 20px 0px; 
  position: relative; 
  bottom: 0px; 
}
.footer2 ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.footer2 ul a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  padding: 10px 30px;
  display: block;
  text-align: center;
}
.footer2 ul a img{
  width: 50px;
}
.footer2 ul a:hover{
  transform: scale(1.2);
}
.footer2 h3{
  color: hsl(0, 100%, 50%);
}
/*End of footer styling */
