/*Header Styling */
.navbar{
  display: flex;
  align-items:center;
  background-color: transparent;
  transition: background-color 0.3s linear, border-bottom 0.3s linear; 
}
.navbar img{
  width: 100px;
  height: auto;
  margin-right:0;
  display:flex;
}
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.navbar a{
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  text-decoration: none;
  padding: 10px 30px;
  display: block;
  text-align: center;
  transition: color 0.3s linear;
}
.navbar a:hover{
  color: hsl(0, 100%, 50%);
}
#login{
  font-size: 15px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border: 0px;
  top: 10px;
  right: 10px;
  padding: 5px 50px;
  transition: background-color 0.3s linear, font-weight 0.3s linear;
}
#login:hover{
  background-color: hsl(0, 100%, 50%);
}

/*About body styling */
.about-summary {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;  
  padding:20px; 
  margin:0;
}
.who-we-are,
.our-story,
.what-we-do,
.why-choose-us,
.create-something{
  flex: 1 1 300px; /* Example flex settings; adjust as needed */
  margin: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  color: black;
}
.what-we-do:hover,
.who-we-are:hover,
.our-story:hover {
color:red;
}
.what-we-do:hover h2,
.our-story:hover h2,
.who-we-are:hover h2,
.who-we-are:hover p,
.our-story:hover p,
.what-we-do:hover p{
color:black;
}
.why-choose-us h2,
.create-something h2{
color:black;
 }
.why-choose-us p,
.create-something p{
color:black;
}
.why-choose-us:hover h2,
.create-something:hover h2{
color:black;
}
.why-choose-us:hover p,
.create-something:hover p{
color:black;
}
.why-choose-us:hover,
.create-something:hover{
color:red;
}
p{
  font-size:medium;
}

.profile-images{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:2px;
  justify-items: center;           
}
.img {
  width:210px;
  height:210px;
  border-radius:10px;
  transition:transform 0.3s ease;
}
.profile-images .contributors {
  margin:5px;
  text-align:center;
}
.contributors {
  border:2px solid black;
  border-radius:20px;
  padding:0;
}
.profile-images .contributors:hover{
  color:red;
  transform:scale(1.05);
  transition:0.3s ease-in;
} 
/*End of the about body styling*/

/* Styling of the body of home page*/
.homebody{
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  margin: 0px;
  min-height: 100vh;
  font-family: roboto, Georgia; 
  /*background: url(Images/Background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;*/
}
.main-content2{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  border-radius: 25px;
  background: linear-gradient(to right, whitesmoke, beige);
  margin: 100px;
}
.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 60px;
}
.text{
  max-width: 50%;
  margin-left: 30px;
  margin-top: 0px;
}
.peopleSmilingSafariRally{
  width: 500px; 
  height: 500px; 
  border-radius: 50%;
  object-fit: cover; 
}
#getStarted{
  font-size: 17px;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 10px 50px;
  margin-top: 25px;
  border: 0px;
  transition: background-color 0.3s linear;
}
#getStarted:hover{
  background-color: hsl(0, 100%, 50%);
}
.quote{
  width: 120px;
  height: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: playfair;
}
.testimonial{
  font-size: 22px;
  max-width: 800px;
  margin-bottom: 60px;
}
.elon{
  position: relative;
  width: 100px; 
  height: 100px; 
  border-radius: 50%;
  object-fit: cover; 
  left: -50px;
}
#name, #position, #company{
  position: relative;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  left: 45px;
  top: -80px;
}
#position{
  left: 23px;
}
#company{
  left: 27px;
}
.main-content3{
  height: 100vh;
}
.content3{
  display: flex;
  justify-content: center;
}
.factor{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  padding-bottom: 10px;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 25px;
  margin-right: 20px;
  margin-bottom: 40px;
  background: hsl(225, 92%, 63%);
  transition: border-color 0.3s linear;
}
.factor:hover{
  border-color: white;
  animation: move 0.5s linear;
}
@keyframes move{
  50%{transform:translateY(20px)}
}
.factor img{
  width: 130px;
  height: auto;
}
.factor .description{
  padding-top: 20px;
  font-size: 23px;
  text-align: center;
  color: white;
}
.factor .deeperdescription{
  word-spacing: 5px;
  padding-top: 20px;
  padding-bottom: 60px;
  font-size: 17px;
  text-align: center;
  color: white;
}
.main-content3 h2{
  font-size: 40px;
  color: hsl(0, 0%, 0%);
  text-align: center;
}

.main-content4{
  height: auto;
  background-color: black;
}
.main-content4 h2{
  font-size: 70px;
  color: hsl(0, 0%, 100%);
  text-align: center;
}
.content4{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.content4 img{
  width: 600px;
  height: auto;
  padding-bottom: 20px;
  transition: transform 0.5s ease-in-out;
}
.content4 img:hover{
  transform: scale(1.05);
}

/* End of styling of the home page*/

/*Styling of the review page */
.reviews {
  margin-top:2rem;
}
.reviews h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.review {
  background-color: white;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review h3 {
  margin-top: 0;
}

.review p {
  margin: 0.5rem 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 2rem;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input#name {
  margin-top: 80px; /* Adjust this value as needed */
  margin-left:-50px;
  margin-right:40px;
  margin-bottom:0;
  padding:20px;
  width:90%;
  font-size:15px;
}
input#review {
  font-size:20px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom:0;
}

form {
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input, select, textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #5cb85c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
}
ul {
  list-style-type: none; /* Remove bullets from the list */
  padding: 0; /* Remove default padding */
}

input[type="submit"]:hover {
  background-color: #4cae4c;
}
@media (max-width: 600px){
  .container {
    width:95%;
    padding:15px;
  }
  input[type="submit"]{
    padding:10px;
    font-size:14px;
  }
}

/*End of styling of review page */

/*Footer styling */
.footer2{
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 20px 0px; 
  position: relative; 
  bottom: 0px; 
}
.footer2 ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
.footer2 ul a{
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  padding: 10px 30px;
  display: block;
  text-align: center;
}
.footer2 ul a img{
  width: 50px;
}
.footer2 ul a:hover{
  transform: scale(1.2);
}
.footer2 h3{
  color: hsl(0, 100%, 50%);
}
/*End of footer styling */
